@use "../../css/api" as *;

@keyframes separator {
    to {
        color: var(--text-prominent-soft);
    }
}

.digits {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2vw;
    letter-spacing: 1vw;
}

.digitsSeparator {
    display: block;
    margin-right: -1vw;
    color: var(--text-prominent);
    font-size: 5vw;
    animation: separator alternate 1s var(--decelerationCurve) infinite;

    &::before {
        content: ":";
    }
}

.digit {
    display: block;
    margin-right: -1vw;
    color: var(--text);
    font-size: 12vw;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @supports (-webkit-text-stroke: .015em var(--text)) {
        color: transparent;
        -webkit-text-stroke: .015em var(--text);
    }
}

.digitContainer {
    position: relative;
    display: flex;
    margin-bottom: -1vw;
    align-items: center;
    flex-flow: column;
    justify-content: flex-start;
    gap: 1vw;
}

.digitDescription {
    color: var(--button);
    font-size: .75vw;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.digitMount {
    position: relative;
    display: flex;
}

@include responsive-down(lg) {
    .digit {
        @supports (-webkit-text-stroke: .02em var(--text)) {
            color: transparent;
            -webkit-text-stroke: .02em var(--text);
        }
    }

    .digitDescription {
        font-size: 1vw;
    }
}

@include responsive-down(md) {
    .digits {
        display: grid;
        gap: #{gutter-get(10)} #{gutter-get(6)};
        grid-template-columns: 1fr auto 1fr;
    }

    .digit {
        font-size: 20vw;

        @supports (-webkit-text-stroke: .03em var(--text)) {
            color: transparent;
            -webkit-text-stroke: .03em var(--text);
        }
    }

    .digitDescription {
        font-size: 2vw;
    }

    .digitsSeparator {
        font-size: 10vw;
    }
}
