@use "api" as *;

body {
    --background: #072227;
    --button: #35858B;
    --text: #4FBDBA;
    --text-prominent: #AEFEFF;

    background: var(--background);
    color: var(--text);
    font-size: 18px;
    line-height: 1.7;
}
