@use "api" as *;

body {
    --background: #072227;
    --button: #35858b;
    --text: #4fbdba;
    --text-prominent: #aefeff;
    --text-prominent-soft: rgb(174 254 255 / .5);

    background: var(--background);
    color: var(--text);
    font-size: 18px;
    line-height: 1.7;
}
