@use "api" as *;

body {
    --background: hsl(189 70% 9%);
    --button: hsl(184 45% 38%);
    --text: hsl(178 45% 53%);
    --text-prominent: hsl(181 100% 84%);
    --text-prominent-soft: hsl(181 100% 84% / .5);

    background: var(--background);
    color: var(--text);
    font-size: 18px;
    line-height: 1.7;
}
